    <h2>Update Room</h2>
    
    <form method="POST" action="/room/edit/{{roomDocument._id}}/?_method=PUT">

        <label>Title</label>
        <input type="text" name="title" id="title" value="{{roomDocument.title}}"> <br><br>

        <label>Price</label>
        <input type="text" id="price" name="price" value="{{roomDocument.price}}"><br><br>

        <label>Description</label>
        <textarea id="description" name="description" value="{{roomDocument.description}}"></textarea><br><br>

        <label>Location</label>
        <input type="text" id="Location" name="location" value="{{roomDocument.location}}"><br><br>

        <input type="file" name="profilePic"> <br><br>

        <input type="submit" value="Update Room">

    </form>